#myTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 98%;
    margin:0 1% 0 1%;
    margin: 1% 0.5% 0.5% 1.02%;
    
}

#myTable td, #myTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#myTable tr:nth-child(even){background-color: #f2f2f2;}

#myTable tr:hover {background-color: #ddd;}

#myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(57, 97, 228);
    color: white;
}

.indexHeader {
    position: absolute;
    z-index: 2;
    font-size: 30px;
    background-color: #5f5f5f;
    color: #f1f1f1;
    width: 100%;
    margin: 0% 0% 0% -0.5%;
    height: 60px;
    letter-spacing: 1px;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: left;
    padding-top: 0.8%;
    padding-left: 2%;
    position: fixed;
    top: 0;
}

.buttonAgregarPersona {
    background-color: rgb(64, 194, 69);
    position: relative;
    border: none;
    color: white;
    height: 15%;
    width: 97.9%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 1% 0% 1% 0%;
    margin: 6% 0.5% 0% 1.02%;
   
}
/* 
.spinIndex{
    position: absolute; 
    margin-left: 30%;
    top: 10%;
    width: 30%;
    
} */
